<% if (messages.success) { %>
    <div class="alert alert-success text-green-600  text-sm">
      <%= messages.success %>
    </div>
  <% } %>
  
  <% if (messages.error) { %>
    <div class="alert alert-danger text-red-600  text-sm">
      <%= messages.error %>
    </div>
  <% } %>