<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="min-h-screen bg-gray-100 flex items-center justify-center">
      <div class="w-full max-w-md bg-white rounded-lg shadow p-6">
        <%- include('header.ejs') %>
        <h6 class="py-4 text-lg font-semibold text-gray-700 text-center">
          Signup as a New User
        </h6>
        <form action="/users" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="py-3">
            <label for="firstName" class="text-gray-700 text-lg"
              >First Name:</label
            >
            <input
              type="text"
              name="firstName"
              placeholder="firstname"
              required
              class="w-full border border-gray-400 text-gray-500 text-sm rounded p-2"
            />
          </div>

          <div class="py-3">
            <label for="lastName" class="text-gray-700 text-lg"
              >Last Name:</label
            >
            <input
              type="text"
              name="lastName"
              placeholder="lastname"
              class="w-full border border-gray-400 text-gray-500 text-sm rounded p-2"
            />
          </div>

          <div class="py-3">
            <label for="email" class="text-gray-700 text-lg">Email:</label>
            <input
              type="email"
              name="email"
              placeholder="email"
              required
              class="w-full border border-gray-400 text-gray-500 text-sm rounded p-2"
            />
          </div>

          <div class="py-3">
            <label for="password" class="text-gray-700 text-lg"
              >Password:</label
            >
            <input
              type="password"
              name="password"
              placeholder="password"
              required
              class="w-full border border-gray-400 text-gray-500 text-sm rounded p-2"
            />
          </div>
          <button
            type="submit"
            class="text-white bg-green-600 hover:bg-green-800 font-medium rounded text-sm px-5 py-2 text-center mt-4"
          >
            Sign Up
          </button>
        </form>
        <%-include('notifications.ejs')%>
      </div>
    </div>
  </body>
</html>
